APP_NAME=HiruAcademy
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=

DB_CONNECTION=pgsql
DB_URL=
DB_SSLMODE=require

FRONTEND_URL=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DRIVER=database
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
TRUSTED_PROXIES=*

CACHE_STORE=database
LOG_CHANNEL=stderr
LOG_LEVEL=warning

MEDIA_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=hiru-media
AWS_ENDPOINT=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=true
